 /* ========== Q1 CH # 49-52 ========== 
.maindiv{text-align: center; margin: 10px 300px; background-color: coral; padding-top: 30px;}
#fn,#ln{height: 30px; width: 250px; margin-left: 10px;}
#email, #password, #cpass{height: 30px; width: 520px; margin-left: 10px ;margin-top: 20px;}
#submit{height: 40px; background-color: darkblue; color: white; text-align: center; justify-content: center; margin: 20px;} */